#excerpt{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#main_content {
    padding-bottom: 200px;
}

@media (max-width:800px){
  .flex-s{
    display: flex;
    flex-direction: column;
  }
}

.links{
  color: black;
}

.links:hover{
  color: grey;
  text-decoration: underline; 
}

.brand-logo{
  margin-left: 10px;
}

.port-image{
  padding: 15px;
}