<div class="col s12 flex-s">
  <h3>Alex Wapniarski</h3>
  <div class="divider"></div><br>
  <h5><a href="mailto:wapniarski@gmail.com" class="links"><i class="fa fa-envelope fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href='mailto:wapniarski@gmail.com' class="links">wapniarski@gmail.com</a></h5><br>
  <h5><a href="https://www.linkedin.com/in/wapniarski" class="links"><i class="fa fa-linkedin-square fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='https://www.linkedin.com/in/wapniarski' class="links">https://www.linkedin.com/in/wapniarski</a></h5><br>
  <h5><a href="https://github.com/alex-wap" class="links"><i class="fa fa-github fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/alex-wap" class="links">https://github.com/alex-wap</a></h5>
</div>