<div class="col s12" id="main_content">
    <h1 class="center">Alex Wapniarski</h1>
    <div class="center"><img src="../assets/IMG_2457.JPG" style="border-radius:500px; width: 200px;height:200px;"></div>
    <br>
    <div class="row">
        <div class="col s12">
        <div class="divider"></div>
        <h4 class="center">About</h4><br>
        <p>Hello! My name is Alex and I am a Bay Area native. I am a Web Developer with a passion for coding!<br><br>
        I graduated from University of California, Berkeley with a degree in Mechanical Engineering. I spend my time traveling, playing games, enjoying live music, and coding!<br><br>
        Check out my <a href='#/portfolio' class="links"><strong>portfolio</strong></a> of projects and <a href='https://github.com/alex-wap' class="links"><strong>GitHub</strong></a> to see my work.<br><br>
        Do you have a spot on your team or just want to chat?<br>
        Feel free to contact me via email! <a href='mailto:wapniarski@gmail.com' class="links"><strong>wapniarski@gmail.com</strong></a></p><br>
        <div class="divider"></div>
        </div>
    </div>    
<div class="row center flex-s">
    <h4>Skills</h4>
    <div class="col s12"><input type="text" placeholder="Filter for skills" ng-model='_filter'></div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th>Languages</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='language in languages | filter:_filter'>
                <td ng-bind='language'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th>Frameworks</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='framework in frameworks | filter:_filter'>
                <td ng-bind='framework'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th>Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='tool in tools | filter:_filter'>
                <td ng-bind='tool'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th>Design</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='d in design | filter:_filter'>
                <td ng-bind='d'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th>Misc</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='m in misc | filter:_filter'>
                <td ng-bind='m'></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
