<div class="col s12" id="main_content">
    <h2 class="center">Alex Wapniarski</h2>
    <div class="center"><img src="../assets/IMG_2457.JPG" style="border-radius:500px; width: 200px;height:200px;"></div>
    <br>
    <div class="row">
        <div class="col s12">
        <div class="divider"></div>
        <h4 class="center">About</h4><br>
        <p>Hello! My name is Alex and I am a Bay Area native. I am a Web Developer with a passion for coding!<br><br>
        I graduated from University of California, Berkeley with a degree in Mechanical Engineering. I spend my time traveling, playing games, enjoying live music, and coding!<br><br>
        Check out my <a href='#/portfolio' class="links"><strong>portfolio</strong> <i class="fa fa-folder-open-o" aria-hidden="true"></i></a> of projects and <a href='https://github.com/alex-wap' class="links"><strong>GitHub</strong> <i class="fa fa-github" aria-hidden="true"></i></a> to see my work.<br><br>
        Do you have a spot on your team or just want to chat?<br>
        Feel free to contact me via email! <a href='mailto:wapniarski@gmail.com' class="links"><strong>wapniarski@gmail.com</strong> <i class="fa fa-envelope" aria-hidden="true"></i></a></p><br>
        <div class="divider"></div>
        </div>
    </div>    
<div class="row center flex-s">
    <h4>Skills</h4>
    <div class="col s12"><input type="text" placeholder="Filter for skills" ng-model='_filter'></div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th><strong>Languages</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='language in languages | filter:_filter'>
                <td ng-bind='language'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th><strong>Frameworks</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='framework in frameworks | filter:_filter'>
                <td ng-bind='framework'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th><strong>Tools</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='tool in tools | filter:_filter'>
                <td ng-bind='tool'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th><strong>Design</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='d in design | filter:_filter'>
                <td ng-bind='d'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col s1 offset-s1">
          <table>
            <thead>
              <tr>
                  <th><strong>Misc</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='m in misc | filter:_filter'>
                <td ng-bind='m'></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
<div class="divider"></div><br>
<h4 class="center">Projects</h4><br>
<p>View my <a href='#/portfolio' class="links"><strong>portfolio</strong> <i class="fa fa-folder-open-o" aria-hidden="true"></i></a> for more projects. Here is one example below.</p><br>
<div class="row">
<div class="col s12">
  <div class="card">
<div class="card-content" id="typingdojo">
    <h4><a href="http://54.175.81.151/" class="links"><strong>Typing Dojo</strong></a></h4>
    <p>Typing Dojo is a typing game that lets you race against other users in real time using web sockets.<br><br>

<strong>Technology Used:</strong><br>
JavaScript, MongoDB, Express.js, AngularJS, Node.js, Socket.io, Materialize, AWS EC2, GitHub, HTML, CSS.</p><br>
    </div>
    <div class="card-image waves-effect waves-block waves-light"><a href="http://54.175.81.151/">
      <img src="../assets/typingdojo.png" class="port-image"></a>
    </div>
    
  </div>
  </div>
</div>
<div class="divider"></div><br>
<h4 class="center">Contact</h4><br>
<div class="col s12 flex-s">
  <h4>Alex Wapniarski</h4>
  <div class="divider"></div><br>
    <ul class="collection">
      <li class="collection-item"><p class="flow-text"><a href="mailto:wapniarski@gmail.com" class="links"><i class="fa fa-envelope fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href='mailto:wapniarski@gmail.com' class="links">wapniarski@gmail.com</a></p></li>
      <li class="collection-item"><p class="flow-text"><a href="https://www.linkedin.com/in/wapniarski" class="links"><i class="fa fa-linkedin-square fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='https://www.linkedin.com/in/wapniarski' class="links">linkedin.com/in/wapniarski</a></p></li>
      <li class="collection-item"><p class="flow-text"><a href="https://github.com/alex-wap" class="links"><i class="fa fa-github fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/alex-wap" class="links">github.com/alex-wap</a></p></li>
    </ul>
</div>