*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

/* add hover animation via jQuery */
/* pick font */

nav {
	padding: 30px 0 0 0;
	display: inline-block;
	padding-right: 50px;
}

nav ul li{
	list-style: none;
	padding: 8px 0 0;
	font-size: 11pt;
	letter-spacing: 1px;
}

#hello{
	margin-left: 88px;
	width: 80%;
}

p{
	margin-left: 20px;
}

.container{
	background-color: white;
	margin: 40px;
	padding-bottom: 10px;
}

#main_content{
	margin-left: 10px;
	border-left: 1px solid black;
	display: inline-block;
	vertical-align: top;
}

h1{
	margin: 20px 0 25px 20px;
	font-size: 28px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	padding-right: 300px;
}

.myphoto{
	margin: 30px auto 0;
	border-radius: 150px;
	text-align: center;
	position: relative;
	left: 40%;
}
